body {
  font-family: 'Inter', sans-serif;
}

.font-heading {
  font-family: 'Cormorant Garamond', serif;
}

.font-display {
  font-family: 'Cormorant Garamond', serif;
}

.font-malayalam {
  font-family: 'Noto Sans Malayalam', sans-serif;
}

.font-malayalam-heading {
  font-family: 'Anek Malayalam', sans-serif;
}

